
body {
  margin: 20;
  background-color: rgb( 255 , 255 , 255 ) ;
}

.footer{
  font-family: 'Lato Light', sans-serif ;
  font-size: 10px ;
}

.heatmap-heading{
   font-family: 'Lato', sans-serif ;
}

.heatmap-text{
   font-family: 'Lato', sans-serif ;
}

.heatmap-input{
   font-family: 'Lato', sans-serif ;
}

.heatmap-button{
   font-family: 'Lato', sans-serif ;
}

.close-button{
   font-family: 'Lato', sans-serif ;
}

.row{
  display: flex ;
  justify-content: center ;
}

.column{
  flex: 50% ;
}

.modal-outer{
  display: none ;
  position: fixed ;
  top: 50% ;
  left: 50% ;
  transform: translate( -50% , -50% ) ;
  width: 500px ;
  max-width: 100% ;
  height: 250px ;
  max-height: 100% ;
  background-color: black ;
}

.modal-inner{
  position: relative ;
  top: 0 ;
  left: 0 ;
  height: 100% ;
  width: 100% ;
  overflow: auto ;
}

.modal-heading{
  text-align: center ;
  font-family: 'Lato', sans-serif ;
  color: white ;
}

.modal-side-pad{
  float: left ;
  width: 10% ;
  height: 100% ;
}

.modal-text{
  float: left ;
  width: 80% ;
  text-align: center ;
  font-family: 'Lato', sans-serif ;
  color: white ;
}

.modal-row{
  display: flex ;
  overflow: hidden ;
}
