
body {
  margin: 20;
  background-color: rgb( 255 , 255 , 255 ) ;
}

.footer{
  font-family: 'Lato Light', sans-serif ;
  font-size: 10px ;
}

.heatmap-heading{
   font-family: 'Lato', sans-serif ;
}

.heatmap-text{
   font-family: 'Lato', sans-serif ;
}

.heatmap-input{
   font-family: 'Lato', sans-serif ;
}

.heatmap-button{
   font-family: 'Lato', sans-serif ;
}

.row{
  display: flex ;
  justify-content: center ;
}

.column{
  flex: 50% ;
}

.modal-container{
  display: none ;
  position: fixed ;
  width: 80% ;
  height: 50% ;
  cursor: pointer ;
}

.modal-heading{
  align: center ;
  font-family: 'Lato', sans-serif ;
}

.modal-text{
  align: center ;
  font-family: 'Lato', sans-serif ;
}
